<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://download.hipwallpaper.com/desktop/1920/1080/84/87/yxPqfA.jpg');">
  <div class="banner-content">
    <h1>Cocktails</h1>
    <p>Cocktail: Edit Page</p>
    <%= link_to 'Add New Cocktail', new_cocktail_path, class: "btn btn-info" %>
  </div>
</div>

<div class="container">
  <div class="row">

    <ul>
      <li>
        <%= link_to 'Add New Cocktail', new_cocktail_path, class: "btn btn-info" %>
      </li>
      <li>
        <%= link_to 'Back', cocktails_path, class: "btn btn-default" %>
      </li>
    </ul>

  </div>
</div>
